/* general overrides */
h1, h2 {
    margin: 0.2em 0;
}

body {
    font-family: Arial, sans-serif;
}

a, a:visited {
    color: #777
}

/* navigation */
a {
    text-decoration: none;
    margin: 1em;
}

.nav-container {
    background-color: #aaa;
    padding: 10px 0;
    color: #fff;
    display: flex;
    margin-bottom: 0.5em;
}

.nav-container a {
    color: #fff;
}

.nav-container a.nav-link-current {
    color: #222;
}

/* user status */
.user-status {
    margin-left: auto;
    margin-right: 1em;
}

/* forms */
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    width: 150px;
    text-align: right;
    margin-right: 15px;
}

.form-row input {
    flex: 1;
    max-width: 300px;
}

.form-container {
/*    border-radius: 1em; */
    border: 1px solid #aaa;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
    max-width: 40em;
}

.button-inline {
    margin-left: 1em;
}

.button-submit {
    margin-bottom: 1em;
}

.todo-toggle {
    margin-right: 1em;
}

.edit-input {
    height: 1.5em;
}

.create-btn {
    position: relative;
    top: 0.5em;
}

/* message */
.message-container {
/*    border-radius: 1em; */
    border: 1px solid #aaa;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
/*    max-width: 40em; */
}

/* main content */
.content-main {
    padding: 0;
}

.user-status {
}

/* todo stuff */
button.edit-btn {
    border: none;
    background-color: inherit;
}

/* todo list stuff */
.todo-container, .todo-container-selected {
    border: 1px solid #aaa;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    width: 100%; */
}

.todo-container-selected {
    background-color: #aaa;
}

.todo-container div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.todo-view-option {
    margin-bottom: 0.5em;
}

.todo-view-option span {
    margin: 1em;
}

.todo-container-main {
    display: flex;
    gap: 1em;
}

.todo-container-lists {
    width: 400px;
}

.todo-container-todos {
    flex: 1;
}

.todo-lists {
/*    border: 1px solid #aaa;
    height: 100%; */
}

.edit-container {
    height: 2.4em;
}
